# Enforce pnpm as the only package manager
engine-strict=true

# Allow public access for pnpm
public-hoist-pattern[]=*

# Ensure harfbuzzjs is hoisted but resolved properly per package
shamefully-hoist=true
